<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>机票管理系统</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    {#    <link rel="stylesheet" href="../../static/css/bootstrap.min.css">#}
    {% block style %}
    {% endblock %}
    {% block js %}
    {% endblock %}
</head>
<style>
body {
    background: url('/static/img/other.jpg') no-repeat center center fixed;
    background-size: cover;
}
</style>
<body style="background-color: #5761b8">

{% block content %}
{% endblock %}

</body>
</html>